header {
  display: flex;
  justify-content: center;
  background-color: black;
  font-weight: bolder;
  color: rgb(235, 208, 231);
  font-size: larger;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 208, 231);
  font-weight: bold;
}

.calendar {
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(175, 119, 161);
  font-weight: bold;
}

.createEvent {
  margin-bottom: 10px;
}

.listEvent {
  margin: 5px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 119, 161);
  font-weight: bold;
}

.month-table {
  display: block;
  border-collapse: collapse;
  width: 100%;
  font-weight: bold
}

.month-table th,
.month-table td {
  border: 2px solid #000000;
  padding: 10px;
  text-align: center;
}

.month-table .day {
  position: relative;
}

.month-table .day .day-number {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.month-table .day .events {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
}

.month-table .day .events .event {
  background-color:rgb(245, 173, 255);
  border-radius: 3px;
  color: #000000;
  margin-bottom: 5px;
  padding: 3px;
}

.mat-card {
  width: 300px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: rgb(235, 208, 231);
  font-size: medium;
}

a {
  padding: 0px 40px 40px 0px;
}
